<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link href="index.js" rel="">
    <script type="text/javascript" src="index.js"> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">

        <v-app>

            <v-card>
                <v-content>
                    <v-layout>
                        <v-toolbar style="background:#E8E8E8;">
                            <v-layout row justify-space-between />
                            <v-toolbar-items>
                                <v-btn flat href="index.html">
                                    <v-img src="logo.png" href="index.html"> </v-img>
                                </v-btn>
                            </v-toolbar-items>
                            <v-spacer></v-spacer>
                            <v-toolbar-items align-center justify-center>
                                <v-btn flat href="index.html">สินค้า</v-btn>
                                <v-btn flat href="aboutUbon.html">เกี่ยวกับ</v-btn>
                                <v-btn flat href="courseTrainingIOT.html">trainer iot</v-btn>
                                <v-btn flat href="contactUs.html">ติดต่อ</v-btn>
                                <v-btn flat href="register.html" style="background:#9C9C9C;">user</v-btn>
                                <v-toolbar-side-icon class="hidden-lg"></v-toolbar-side-icon>
                            </v-toolbar-items>
                    </v-layout>
                    </v-toolbar>
                    </v-layout>
                </v-content>
            </v-card>

            <v-content>
                <v-card>
                    <v-container>
                        <h1 class="text-xs-center ">แบบฟอร์มการสมัครสมาชิก</h1>
                        <v-template>
                            <v-card>
                                <v-form>
                                    <v-container>

                                        <v-layout row wrap>
                                            <v-flex xs12 sm6>
                                                <v-text-field label="ชื่อผู้เข้าใช้งาน" v-model="username" outline></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm6>
                                                <v-text-field label="รหัสผ่าน" v-model="password" hint="At least 8 characters"
                                                    :type="'password'" outline></v-text-field>
                                                <!-- <v-text-field :append-icon="show2 ? 'visibility_off' : 'visibility'"
                                                    :rules="[rules.required, rules.min]" :type="show2 ? 'text' : 'password'"
                                                    name="input-10-2" label="Visible" hint="At least 8 characters"
                                                    value="wqfasds" class="input-group--focused" @click:append="show2 = !show2"></v-text-field>
                                            </v-flex> -->
                                        </v-layout>

                                        <v-layout row wrap>
                                            <v-flex xs12 md6>
                                                <v-text-field label="ชื่อ" v-model="name" outline></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 md6>
                                                <v-text-field label="นามสกุล" v-model="lastname" outline></v-text-field>
                                            </v-flex>
                                        </v-layout>

                                        <v-layout row wrap>
                                            <v-flex xs12 md6>
                                                <v-radio-group v-model="radioGroup" row>เพศ :
                                                    <v-radio label="ช" value="M"></v-radio>
                                                    <v-radio label="ญ" value="F"></v-radio>
                                                </v-radio-group>
                                            </v-flex>
                                            <v-flex xs12 md6>
                                                <v-text-field label="อีเมลล์" v-model="email" outline> </v-text-field>
                                            </v-flex>
                                        </v-layout>

                                        <v-layout row wrap>
                                            <v-flex md3>
                                                <v-text-field label="บ้านเลขที่" v-model="homeNo" outline></v-text-field>
                                            </v-flex>
                                            <v-flex md3>
                                                <v-text-field label="หมู่ที่" v-model="villageNo" outline></v-text-field>
                                            </v-flex>
                                            <v-flex md6>
                                                <v-text-field label="ถนน" v-model="road" outline></v-text-field>
                                            </v-flex>
                                        </v-layout>

                                        <v-layout row wrap>
                                            <v-flex md4>
                                                <v-text-field label="ซอย" v-model="lane" outline></v-text-field>
                                            </v-flex>
                                            <v-flex md4>
                                                <v-text-field label="ตำบล" v-model="Sub_district" outline></v-text-field>
                                            </v-flex>
                                            <v-flex md4>
                                                <v-text-field label="อำเภอ" v-model="district" outline></v-text-field>
                                            </v-flex>
                                        </v-layout>
                                        <v-layout row wrap>
                                            <v-flex md5>
                                                <v-text-field label="จังหวัด" v-model="province" outline></v-text-field>
                                            </v-flex>
                                            <v-flex md3>
                                                <v-text-field label="รหัสไปรษณี" v-model="postal_Code" outline></v-text-field>
                                            </v-flex>
                                            <v-flex md4>
                                                <v-text-field label="เบอร์โทร" v-model="Telephone_number" outline></v-text-field>
                                            </v-flex>
                                        </v-layout>

                                    </v-container>
                                </v-form>
                            </v-card>
                        </v-template>
                    </v-container>
                </v-card>
            </v-content>

            <template>
                <v-footer dark height="auto">
                    <v-card class="flex" flat tile>
                        <v-container>
                            <v-card-title>
                                <strong class="subheading">(ข้อมูลบริษัท) บริษัท อุบลคอนโทรลซิสเท็ม จำกัด 466
                                    ถนนสรรพสิทธิ์ ตำบลในเมือง อำเภอเมือง จังหวัดอุบลราชธานี
                                    34000 โทร. 090693936</strong>
                                <!-- <v-spacer></v-spacer>

        <v-btn v-for="icon in icons" :key="icon" class="mx-3" dark icon>
          <v-icon size="24px">{{ icon }}</v-icon>
        </v-btn> -->
                            </v-card-title>
                            <v-card-actions class="grey darken-3 justify-center">
                                &copy; {{ new Date().getFullYear() }} —
                                <strong>Uboncontrol</strong>
                            </v-card-actions>
                        </v-container>
                    </v-card>
                </v-footer>
            </template>

        </v-app>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script>
        new Vue({ el: '#app' })
    </script>
</body>

</html>